.cnt{
    text-align: center;
  }
  .cnt_wrap{
    width: 100%;
    min-height: 600px;
    height: 100%;
    padding: 0 50px 0 50px;
  }
  .cnt_tit{
    font-size: 30px;
    font-weight: 900;
    margin-top: 100px;
  }
  .tit_line{
    width: 100%;
    background: #606060;
    height: 1px;
    margin: 15px 0 10px 0;
  }
  .cnt_sub_tit{
    font-size: 17px;
    color: #8f8f8f;
  }
  .cnt_sec{
    overflow:inherit;
    display: inline-block;
    max-width: 800px;
    width: 100%;
    min-height: 600px;
    height: 100%;
    margin-top: 40px;
    margin-bottom: 50px;
    padding: 20px;
    word-break:break-all;
  }
  .cnt_sec2{
    padding: 0!important;
    max-width: 1000px!important;
  }
  .text_area{
    width: 100%;
    margin-top: 40px;
    font-size: 18px;
  }
  .cnt_img{
    margin-top: 40px;
  }
  /*******************미디어쿼리*******************/
  @media (max-width: 1210px){
    .cnt_wrap{
      width: 100%;
    }
    .cnt_sec{
      
    }
  }

  @media (max-width: 600px){
    .cnt_wrap{padding: 0 25px 0 25px;}
  }
  @media (max-width: 500px){
    .cnt_tit{font-size: 25px;}
    .cnt_sub_tit{font-size: 16px;}
    .text_area{font-size: 16px;}
  }

  