.main_sec{
    max-height: 2800px;
    height: 100%;
    word-break: keep-all;
}
.prof_sec{
    min-height: 1500px;
    height: 100%;
    margin-bottom: 150px;
}
.canvas_sec{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
canvas{
    max-width: 600px;
    max-height: 600px;
}
/*메인*/
.react18png{
    width: 100%;
    max-width: 450px;
    height: auto;
    border-radius: 8px;
}
.mb_150{
    margin-bottom: 150px;
}
.main_img{
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 8px;
}
.main_img2{
    width: 100%;
    max-width: 350px;
    height: auto;
    border-radius: 8px;
}
.link_area{
    color: #fff;
    width: 100%;
    margin-top: 40px;
    font-size: 18px;
}
.link_txt{
    cursor: pointer;
    text-decoration:  underline;
    color: #ff1fb4;
    margin-top: 5px;
}
/*상세페이지디자인*/
.land_sec{
    word-break: keep-all;
    height: 100%;
    margin-bottom: 150px;
    text-align: center;
}
.land_img{
    position: relative;
    width: 40%;
    overflow-y: scroll;
    z-index:1000;
}
.land_img::-webkit-scrollbar {
    width: 8px;  /* 스크롤바의 너비 */
}

.land_img::-webkit-scrollbar-thumb {
    height: 100%; /* 스크롤바의 길이 */
    background: #217af4; /* 스크롤바의 색상 */
    
    border-radius: 10px;
}

.land_img::-webkit-scrollbar-track {
    background: rgba(33, 122, 244, .1);  /*스크롤바 뒷 배경 색상*/
}
.cnt_inner_wrap2{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 33.333333% 33.333333% 33.333333% ;
}
.ld_cnt_wrap{
    cursor: pointer;
    padding: 10px;
    width: 100%;
    height: 100%;
}
.ld_cnt{
    width: 100%;
    height: 100%;
    position: relative;
}
.ld_img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 5px;
    box-sizing: border-box;
}
/* Blur + Gray Scale */
.ld_cnt figure img {
    -webkit-filter: grayscale(0) blur(0);
    filter: grayscale(0) blur(0);
    -webkit-transition: .18s ease-in-out;
    transition: .18s ease-in-out;
  }
  .ld_cnt figure:hover img {
    -webkit-filter: grayscale(80%) blur(1px);
    filter: grayscale(80%) blur(1px);
  }

.ld_cnt_txt{
    font-weight: normal;
    font-size: 16px;
    color: #fff;
    text-align: left;

}
.ld_cnt_txt p {
    font-size: 14.5px;
    font-weight: 300;
    margin-top: 2.3px;
}
@media (max-width: 1300px){
    .cnt_inner_wrap2{grid-template-columns: 50% 50%;}
  }
@media (max-width: 800px){
    .cnt_inner_wrap2{display: block;}
  }
  @media (max-width: 600px){
    .land_img{
        width: 100%;
    }
  }
 
/*배너디자인*/
.design_banner_sec{
    height: 100%;
    margin-bottom: 150px;
    text-align: center;
}
.cnt_inner_wrap{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto;
}
.dg_cnt_wrap{
    cursor: pointer;
    padding: 10px;
    width: 100%;
    height: 100%;
}
.dg_cnt{
    width: 100%;
    height: 100%;
}
.dg_cnt img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 5px;
}
.dg_cnt_txt{
    font-weight: normal;
    font-size: 16px;
    color: #fff;
}
.boxdot{
    display: inline-block;
    margin-top: 15px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
}
@media (max-width: 1400px){
    .dg_cnt_wrap{}
  }
@media (max-width: 1150px){
    .dg_cnt_wrap{padding: 5px;}
  }
  @media (max-width: 800px){
    .cnt_inner_wrap{display: block;}
  }
@media (max-width: 650px){
    .dg_cnt_txt{font-size: 14px;}
  }
@media (max-width: 550px){
    .design_banner_sec{margin-bottom: 50px;}
  }


/*프로필*/
.ex_card_wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cnt_in_tit{
    margin-bottom: 40px;
    font-weight: bold;
    font-size: 22px;
    color: #ff1fb4;
    font-family: 'Stint Ultra Expanded', cursive;
}
.cnt_in_tit_sub{
    color: #fff;
    font-size: 13px;
    margin-top: -30px;
}
.card{
    display: flex;
    margin-top: 15px;
}
.card_tit{
    font-size: 15px;
    font-weight: bold;
    color: #fff;
}
.ro_box {
    width: 15px;
    height: 15px;
    display: inline-block;
    background: #fff;
    border: 1px solid #000;
    transition:0.15s ease-in;
    margin-right: 5px;
}
        
.ro_box:hover {
    width: 17px;
    height: 17px;
    background: #ff1fb4;
    transform: rotate(45deg);
}
.history_wrap{
    margin-top: 60px;
}
@media (max-width: 770px){
    .ex_card_wrap{display: grid;
        grid-template-columns: auto auto;
        
    }
}
  @media (max-width: 400px){
    .card_tit{
        font-size: 13px;
    }
}
.p_container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    flex-wrap: wrap;
    z-index: 1;
}
.p_container .p_card{
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}
.p_content{position: relative;}
.p_container .p_card .p_content{
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
}
.p_container .p_card:hover .p_content{
    transform: translateY(0px);
    opacity: 1;
}
.p_container .p_card .p_content h2{
    position: absolute;
    top: -80px;
    right: 10px;
    font-size: 130px;
    color: rgba(255, 255, 255, 0.05);
}
.p_container .p_card .p_content h3{
    font-size: 1.7em;
    color: #fff;
    z-index: 1;
}
.p_container .p_card .p_content p{
    font-size: 1em;
    margin-top: 10px;
    color: #fff;
    font-weight: 300;
}
.p_container .p_card .p_content .p_card_btn{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 45px;
    background: #ff1fb4;
    color: #fff;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.img_profile_all{
    max-width: 290px;
    width: 100%;
    height: auto;
    border-radius: 12px;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
}
.prof_wrap{
    width: 100%;
    min-height: 400px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.prof_txt_sec{
    width: 100%;
    max-width: 290px;
    height: 100%;
    text-align: left;
}
.prof_txt_sec p {
    margin-top: 20px;
}
.proft_txt_sec p span{
    font-weight: 900;
}
@media (max-width: 1190px){
    .prof_wrap{
        display: block;
    }
    .prof_txt_sec{
        display: inline;
        text-align: center;
    }
}
@media (max-width: 1050px){
    .prof_wrap{
        display: flex;
    }
    .prof_txt_sec{
        text-align: left;
    }
}
@media (max-width: 785px){
    .prof_wrap{
        display: block;
    }
    .prof_txt_sec{
        display: inline;
        text-align: center;
    }
}
/*contact me*/
.cnt_tit_contact{
    text-align: left;
}
.cntac_sec{
    word-break: keep-all;
    padding: 0;
    min-height: 1000px;
    height: 100%;
    margin-bottom: 150px;
}
.cntac_box{
    margin-top: 30px;
    width: 100%;
}
.cntac_mail *{
    color: #fff;
}
.cntac_mapp{
    border: 1px solid #161623;
    border-radius:8px;
}
.cntac_mail{
    display: inline-block;
    width: 100%;
    border-radius:8px;
    margin-top: 60px;
    padding: 10px;
}
.cntac_txtbar{
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
    padding-left: 10px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 2px;
    background: rgba(255, 255, 255, 0.1);
}
.cntac_txtbar::placeholder{
    color: #fff;
}
.txtbar_rec{
    height: 300px;
}
.cntac_btn{
    border: 1px solid #161623;
    width: 100%;
    height: 40px;
    margin-top: 30px;
    box-sizing: border-box;
    color: #fff;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 15px;
    background: #ff00aa75;border-radius:5px;
    margin-bottom: 10px;
    cursor: pointer;
    font-weight: 700;
}
.cntac_btn:hover{
    background: #ff00aac2
}
/*웹퍼블리싱*/
.webpub_sec{
    
    height: 100%;
    margin-bottom: 150px;
}
.cnt_inner_wrap3{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto;
}
.pub_cnt_wrap{
    padding: 20px;
    border-radius: 10px;
}
.pub_cnt{
    cursor: pointer;
    width: 100%;
    height: 200px;
    position: relative;
    display: flex;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.15);
}
.pub_cnt img{
    height: 200px;
    border-radius: 15px;
    width: 180px;
    box-sizing: border-box;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.webpub_txt{
    word-break: keep-all;
    text-align: left;
    width: 100%;
    color: #fff;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    padding: 10px;
}
.webpub_txt p{
    font-weight: 500;
    color: #fff;
    margin-top: 1px;
    box-sizing: border-box;
}
.webpub_txt p span{
    font-size: 14px;
}
.webpub_txt b{
    font-weight: 700;
    color: #fff;
    font-size: 22px;
    box-sizing: border-box;
}
.webpub_gyd{
    font-size: 11px;
    display: inline-block;
    margin-left: 5px;
    color: #ff1fb4;    
}
.pub_detail_inner{
    width: 100%;
    text-align: center;
    padding: 30px 50px 30px 50px;
    overflow-y: scroll;
}
.iframe_f{
    position:relative;
    padding-top: 56.25%;
    display: none;
}
.iframe_f_show{
    display: block;
}
.try_set{
    color: #fff;
    display: inline-block;
    margin-left: 5px;
    transition: .3s;
}
.pub_webview{
    z-index: 1;
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
}
.linkarea2{
    margin-bottom: 150px;
}
.mi_show{
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}
.des_cnt_sec{
    display: inline-block;
    padding: 15px;
    width: 100%;
    max-width: 850px;
    min-height: 400px;
    height: 100%;
}
.des_cnt{
    position: relative;
    min-height: 350px;
    width: 100%;
    height: 100%;
    display: inline-block;
    margin-top: 15px;
}
.pub_webview2{
    z-index: 1;
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
}
.link_btn{
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 60px;
    line-height: 60px;
    max-width: 240px;
    height: 60px;
    width: 100%;
    display: inline-block;
    background: rgba(255, 255, 255, 0.1);
    font-size: 22px;
    font-weight: 900;
}
.pub_txt_sec{
    white-space: pre-line;
}
.pub_table{
    min-height: 310px;
    box-sizing: border-box;
}
.pub_table tr td{
    border: 1px solid #fff;
    border-spacing: 0;
}
.txt_txt_sec{
    padding: 8px;
    width: 130px;
    font-weight: 900;
    color: #ff1fb4;
    margin-top: 23px;
}
.txt_txt_sec2{
    width: 100%;
    font-weight: 300;
}
@media (max-width: 1550px){
    .pub_cnt img{
        display: none;
    }
}
@media (max-width: 1300px){
    .linkarea2{
        display: none;
    }
}
@media (max-width: 1150px){
    .des_cnt_sec{

    }
}
@media (max-width: 1050px){
    .pub_cnt img{
        display: block;
    }
}
@media (max-width: 980px){
    .cnt_inner_wrap3{
        display: inline;
        text-align: center;
    }
    .pub_cnt_wrap{
        display: inline-block;
        max-width: 600px;
        width: 100%;
    }
}
@media (max-width: 650px){
    .des_cnt_sec{
 
    }
    .des_cnt{
        height: 300px;
        margin-top: 10px;
    }
}
@media (max-width: 500px){
    .pub_cnt{
        display: inline;
    }
    .pub_cnt img{
        height: auto;
        width: 100%;
    }
    .webpub_txt{
        min-height: 175px;
        height: 100%;
    }
}