@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
/*좌측메뉴*/
.lm_wrap{
    min-width: 450px;
    min-height: 100%;
    background: #fff;
    position: fixed;
    z-index: 998;
    background: url(../../img/left_mn_bg.jpg)no-repeat;
    background-position:center;
    background-attachment: fixed;
}
.lm_wrap_show{
    width:700px;
    box-shadow: 0 0px 37px -8px #000;
}
.back_lm{
    min-width: 450px;
    min-height: 100%;
}
.lm_cnt{
    width: 100%;
    height: 100%;
    padding: 15px;
    z-index: 999;
    position: absolute;
}
.lm_cnt_show{
    background: url(../../img/body-bg.png);
}
.icon_wrap{
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50px;
}

.icon_wrap svg{
    color: #ffffff;
    font-size: 36px;
    cursor: pointer;
}
.icon_wrap svg path{
    color: #ffffff;
}
.profile_img_sec{
    margin-top: 185px;
}
.profile_img_sec_n{
    display: none;
}
.myName{
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    margin-top: 10px;
}
.myName_txt{
    font-size: 16px;
    color: #fff;
    font-weight: 300;
    margin-top: 30px;
}

/*좌측메뉴 열림*/
.reflect{transform: scaleY(-1); transition: .3s;}
.lm_menu_wrap{
    display: none;
}
.lm_menu_wrap>ul>li{
    margin-top: 20px;
    color: #fff;
    cursor: pointer;
}
.lm_menu_wrap>ul>li .try_set{
    color: #fff;
    display: inline-block;
    margin-left: 5px;
    transition: .3s;
}
.lm_menu_wrap_show{
    margin-top: 100px;
    display: inherit;
    text-align: left;
    font-weight: 700;
    font-size: 20px;
}
.lm_menu_wrap_show a{
    color: #fff;
}
.lm_shelf{
    display: none;
    margin-top: 15px;
    margin-left: 40px;
}
.lm_shelf ul li{
    color: #fff;
    margin-top: 10px;
    font-size: 17px;
    font-weight: 300;
    cursor: pointer;
}
.lm_shelf_show{
    display: inherit;
}
/*햄버거*/
.hamb_menu{
    position: absolute;
    left: 20px;
    cursor: pointer;
}


    /*햄버거메뉴 미디어쿼리*/
    .hamb_menu{
        display: none;
    }
    /* 햄버거 들어갈 공간 label 설정 
    relative  줌 
    */
    .hamb_menu + label{
        z-index: 999;
        display: block;
        width:2.5rem;
        height:2rem;
        position:absolute;
        left: 20px;
        top:18px;
        cursor:pointer;
        
    }
    /* span 으로 햄버거 만들기  
        absolute 주고 아래에 한 줄씩 위치 처리
    */
    .hamb_menu+label>span{
        display:block;
        width:100%;
        height:5px;
        border-radius: 30px;
        background-color: #fff;
        transition:all .35s;
        position:absolute;
    }
    /* span 햄버거 한 줄 한 줄 처리 */

    .hamb_menu + label>span:nth-child(1){
        top:0;
    }
    .hamb_menu + label>span:nth-child(2){
        top:50%;
        transform:translateY(-50%)
    }
    .hamb_menu + label>span:nth-child(3){
        bottom:0;
    }
    /* input box checked 쳌박스 눌리면 모션 주기 */


    .hamb_menu:checked + label>span:nth-child(1){
        top:50%;
        transform:translateY(-50%) rotate(45deg);
    }
    .hamb_menu:checked + label>span:nth-child(2){
        opacity:0;
    }
    .hamb_menu:checked + label>span:nth-child(3){
        bottom:50%;
        transform:translateY(50%) rotate(-45deg);
    }
    .links-container{
        height:0;
        overflow:hidden;
    }


/*푸터*/
.all_footer{
    background: #fff;
    width: 100%;
    height: 90px;
    position: absolute;
    bottom: 0;
    left: 0;
    align-items: center;
    text-align: left;
    display: flex;
    padding-left: 20px;
    box-shadow: 0 35px 40px 7px #000;
}


/*헤더*/
.hd_wrap{
    box-shadow: 0 -35px 40px 7px #000;
    width: 100%;
    height: 55px;
    background: #fff;
    position: relative;
    z-index: 997;
}
.hd_wrap_show{
    box-shadow: 0 0 0 0;
}
.hd_cnt{
    width: 100%;
    min-height: 100%;
    padding: 7px;
    background: #fff;
    z-index: 998;
    position: relative;
}
.hd_cnt_show{
    background: rgba(0,0,0,0.6);
    position: fixed;
}
.ic_domilogo{
    position:absolute;
    right: 20px;
    top: 10px;
}
.ic_dl{
    top: 15px;
    z-index: 999;
}
.hd_domilogo{
    top: 8px;
    right: 15px;
}
.hd_icon_wrap{
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50px;
}
.hd_icon_wrap svg{
    color: #fff;
    font-size: 36px;
    cursor: pointer;
}
.hd_icon_wrap svg path{
    color: #fff;
}
.hd_menu_wrap{
    display: none;
}
.hd_menu_wrap>ul>li{
    margin-top: 20px;
    margin-left: 15px;
    color: #fff;
    cursor: pointer;
}
.hd_menu_wrap>ul>li .try_set{
    color: #fff;
    display: inline-block;
    margin-left: 5px;
    transition: .3s;
}
.hd_menu_wrap_show{
    margin-top: 100px;
    display: inherit;
    text-align: left;
    font-weight: 700;
    font-size: 20px;
}
.hd_menu_wrap_show a{
    color: #fff;
}
.hd_shelf{
    display: none;
    margin-top: 15px;
    margin-left: 40px;
}
.hd_shelf ul li{
    color: #fff;
    margin-top: 10px;
    font-size: 17px;
    font-weight: 300;
    cursor: pointer;
}
.hd_shelf_show{
    display: inherit;
}
/*헤더햄버거*/
.hd_hamb_menu{
    position: absolute;
    left: 20px;
    
}

  
    /*햄버거메뉴 미디어쿼리*/
    .hd_hamb_menu{
        display: none;
    }
    /* 햄버거 들어갈 공간 label 설정 
    relative  줌 
    */
    .hd_hamb_menu + label{
        z-index: 999;
        display: block;
        width:2.5rem;
        height:2rem;
        position:absolute;
        left: 15px;
        top: 12px;
        cursor:pointer;
        
    }
    
    /* span 으로 햄버거 만들기  
        absolute 주고 아래에 한 줄씩 위치 처리
    */
    .hd_hamb_menu+label>span{
        display:block;
        width:100%;
        height:5px;
        border-radius: 30px;
        background-color: #787878;
        transition:all .35s;
        position:absolute;
    }
    .hd_hamb_menu_show+label>span{
        background-color: #fff;
    }
    /* span 햄버거 한 줄 한 줄 처리 */

    .hd_hamb_menu + label>span:nth-child(1){
        top:0;
    }
    .hd_hamb_menu + label>span:nth-child(2){
        top:50%;
        transform:translateY(-50%)
    }
    .hd_hamb_menu + label>span:nth-child(3){
        bottom:0;
    }
    /* input box checked 쳌박스 눌리면 모션 주기 */


    .hd_hamb_menu:checked + label>span:nth-child(1){
        top:50%;
        transform:translateY(-50%) rotate(45deg);
    }
    .hd_hamb_menu:checked + label>span:nth-child(2){
        opacity:0;
    }
    .hd_hamb_menu:checked + label>span:nth-child(3){
        bottom:50%;
        transform:translateY(50%) rotate(-45deg);
    }
    .links-container{
        height:0;
        overflow:hidden;
    }

@media (min-width: 1050px){
    .hd_wrap{display: none;}
}
@media (max-width: 1050px){
    .lm_wrap{display: none;}
}
