@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
@import url('https://fonts.googleapis.com/css2?family=Stint+Ultra+Expanded&display=swap');
body{background: linear-gradient( -45deg, #161623, #30304b);}
b{color:#fff;}
*{margin: 0; padding: 0; 
  list-style: none; 
  color: #fff; 
  font-family: 나눔스퀘어, 'NanumSquare', sans-serif; 
  -ms-user-select: none; 
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  word-break: keep-all;}
a{text-decoration: none; color: #393939;}
div{box-sizing: border-box;}
::-webkit-scrollbar {
  display: none;
}
textarea{padding-top:10px;}
input:focus {outline:none;}
textarea:focus {outline:none;padding-left: 10px;padding-top:10px;}

/*메인*/
.App {
  text-align: center;
  position: relative;
  overflow: hidden;
  background: linear-gradient( -45deg, #161623, #30304b);
}
.wrap{
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 1200px;

}
.app-body{
  position: relative;
  width: 100%;
  min-height: 100%;
}
#modal-wrap{
  color: #000;
}
#modal-wrap svg{
  font-size: 40px;
  cursor: pointer;
}
#modal-wrap svg path{
  color: #fff;
}
#modal-wrap2 svg{
  font-size: 40px;
  cursor: pointer;
}
#modal-wrap2 svg path{
  color: #fff;
}
@media (max-width: 600px){
  #modal-wrap svg{
    font-size: 35px;

    cursor: pointer;
  }
  #modal-wrap svg path{
    color: #000;
  }
}
/*메인 sec*/


/*******************미디어쿼리*******************/
@media (max-width: 1210px){
  .wrap{
    width: 100%;
  }

}
@media (max-width: 1050px){
  .back_lm{display: none;}
}