@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
@import url('https://fonts.googleapis.com/css2?family=Stint+Ultra+Expanded&display=swap');
body{background: linear-gradient( -45deg, #161623, #30304b);}
b{color:#fff;}
*{margin: 0; padding: 0; 
  list-style: none; 
  color: #fff; 
  font-family: 나눔스퀘어, 'NanumSquare', sans-serif; 
  -ms-user-select: none; 
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;}
a{text-decoration: none; color: #393939;}
div{box-sizing: border-box;}
::-webkit-scrollbar {
  display: none;
}
/*메인*/
.App {
  text-align: center;
  position: relative;
  overflow: hidden;
}
.wrap{
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 1200px;

}
.app-body{
  position: relative;
  width: 100%;
  min-height: 100%;
}

/*메인 sec*/


/*******************미디어쿼리*******************/
@media (max-width: 1210px){
  .wrap{
    width: 100%;
  }

}
@media (max-width: 1050px){
  .back_lm{display: none;}
}